{% if page.upload %}
<!-- row 3 -->
<div class="row">
  <div class="col-sm" style="margin-top: 20px;">
      <script>
        // "myAwesomeDropzone" is the camelized version of the HTML element's ID
        Dropzone.options.submit = {
          paramName: "file", // The name that will be used to transfer the file
          maxFilesize: 2, // MB
          autoProcessQueue: false,
          accept: function(file, done) {
            console.log("accept: " + file);
            if (file.name == "justinbieber.jpg") {
              
              done("Naha, you don't.");
            }
            else { done(); }
          }
        };
        
        function addHidden(theForm, key, value) {
          // Create a hidden input element, and append it to the form:
          var input = document.createElement('input');
          input.type = 'hidden';
          input.name = key; // 'the key/name of the attribute/field that is sent to the server
          input.value = value;
          theForm.appendChild(input);
      }
      
      </script>
      
      <script>
          Dropzone.autoDiscover = false;
      </script>
      
      <div 
        class="dropzone"
        id="thezone">
      </div>
			
      <script>
      var theZone = new Dropzone( "#thezone", 
        { url: "URL-NOT-SET",
          autoProcessQueue: false
					
        });
				
      </script>
      
  </div>
  
  <script>
    function uploadFiles () {
			var baseurl   = "{{site.handinurl}}"
      var uploadURL = baseurl + "/totp/" + $("#totp").val() + "/for/" + $("#email").val();
			
			theZone.on("complete", function (file) {
				if (theZone.getUploadingFiles().length === 0 
						&& theZone.getQueuedFiles().length === 0) {
					
					// Build the expiration date string:
					// This should be 10 minutes in the future.
					var expiration_date = moment().add(10, 'm').toDate();
					var exp_string = expiration_date.toUTCString();
					console.log("Expires: " + exp_string);
					
					var cookie_string = '';
					// expiration_date.setFullYear(expiration_date.getFullYear() + 1);
					// Build the set-cookie string:
					
					// Create or update the cookie:
					document.cookie = ("handin-auth=" + moment().unix() + ";" +
						"expires=" + exp_string +
						"max-age: 600;" +
						"path=" + baseurl + "/") ; 
						
					document.cookie = ("handin-user=" + $("#email").val() + ";" +
						"expires=" + exp_string + ";" + 
						"max-age: 600;" +
						"path=" + baseurl + ";");
					
          
					redir = baseurl + "/login/" + $("#email").val() + "/" + $("#totp").val();	
          
					$('#thezone').after('<form action="' + redir + '" name="invisibleform" id="invisibleform" method="post" style="display:none;"></form>');
					setTimeout(function() {
						document.forms["invisibleform"].submit();
					}, 2000);
					
				} // End if length === 0
			}); // end on "complete"
			
      var jqxhr = $.ajax( {
                            url: uploadURL,
                            method: "GET",
                            dataType: "json"
                          })
          .done(function(msg) {
            console.log(msg);
						console.log("Round trip on the check.")
            if (msg.result == 1) {
							theZone.options.url = "{{site.handinurl}}/assign/{{ page.title | replace: ' ' }}-{{ page.week }}-{{page.day}}/in/{{site.courseid}}/by/" + $("#email").val();
			
							//document.cookie = "handin-auth=" + moment().unix();
							//document.cookie = "handin-user=" + $("#email").val();
							
              //alert( "Uploading Files." );
							theZone.options.autoProcessQueue = true;
              theZone.processQueue();
            } else {
              alert( "Check your email and TOTP token.");
              console.log(uploadURL);
            }
          })
          .fail(function() {
            alert( "error" );
          })
          .always(function() {
            //alert( "complete" );
          });
         
        // Perform other work here ...
         
        // Set another completion function for the request above
        jqxhr.always(function() {
          //alert( "second complete" );
        });
        
      
      $("#exampleModalCenter").modal('hide');
    }
  </script>
  </div> <!-- row 3 -->
  
  <div class="row"> <!-- row 4 -->
  <div class="col-sm" style="margin-top: 20px;">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Start Upload
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Enter 2FA Pin</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
					<div class="row">
						<div class="col-3">
							Email Address
						</div> <div class="col-9"><input id="email" type="text"></input></div>
					</div>
					<div class="row">
						<div class="col-3">TOTP</div><div  class="col-9">  <input id="totp" type="text"></input></div>
					</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nah</button>
          <button type="button" class="btn btn-primary" onclick="uploadFiles();">Upload!</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end button -->
</div> 
</div> <!-- row 4 -->
{% endif %}
